@import './bootstrap';
@import './_reactstrap';

$xs: 320px;
$md: 576px;
$md2: 800px;
$lg: 992px;
$xl: 1200px;

// mobile padding
$mobPadding: 4vw;

// site wide
* {
  font-family: 'Montserrat', 'Open Sans', Roboto, sans-serif;
}

ul, ol {
  list-style: none;
  padding: 0; margin: 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

// common
.btn, .badge-pill {
  cursor: pointer;
}
.cap {
  text-transform: capitalize;
}

// custom layout
.app-wrap, #content {
  height: 100%;
}
.navbar .container-fluid {
  width: 100%;
  .nav {
    margin-left: 10px;
    z-index: 2;
  }
  .navbar-brand {
    margin-left: 15px;
  }
}

.sidebar-content {
  height: 100%;
  overflow: auto;
  background-color: #F8F8F8;
  box-shadow: 1px 0 0 0 #CECECE;
}

// theme setting
$color1: #ffb117;
$color2: #376693;
$color3: #dadbd7;
$color4: #fdffff;
$color5: #b34b43;

// animations
$anim: 0.3s ease-out;

/* background color */
$bgcolor: $color4;
$bgcolor-dark: #f1f1f1;

/* font color */
$color: $color3;
$color-active: $color;

/* borders */
$border-color: $color3;
$border: 1px solid $border-color;

/* layout sizes */
$header-height: 80px;
$header-height-short: $header-height - 30px;
$footer-height: 72px;
$sidebar-width: 220px;

$btn-primary: white;
$btn-secondary: $color2;
$btn: $color3;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background: $bgcolor-dark;
  margin-bottom: 0;
}

.gnb {
  overflow: visible;
  height: 0;
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    background: $bgcolor;
    padding: 0;
    .logo {
      height: 26px;
    }
    .nav-link {
      font-size: 1.25em;
      padding: .2em 1em;
    }
  }
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: $footer-height;
}

.content {
  padding-bottom: $footer-height;
  .container {
    width: 100%;
  }
}

.full-size {
  .content {
    padding-bottom: 0;
  }
}

footer {
  bottom: 0;
  position: absolute;
  height: $footer-height;
  width: 100%;
  box-sizing: border-box;
  margin-left: $sidebar-width;
  left: -$sidebar-width - 1px;
}

@media (max-width: 440px) {
  .navbar .container-fluid {
    .navbar-brand {
      margin-left: 4px;
      margin-right: 4px;
    }
    .nav-link {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.pb-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 12px;
}
.pb-container .pb-button {
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 27px;
  color: currentColor;
  cursor: pointer;
  padding: 0.7em 1em;
  text-decoration: none;
  text-align: center;
  height: 54px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}
.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 2em;
  font-weight: 100;
}
.pb-container .pb-button svg {
  height: 54px;
  width: 54px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  width: 54px;
  border-width: 6.5px;
  border-color: #ddd;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button {
  border-color: #A0D468;
  background-color: #A0D468;
}
.pb-container.success .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button {
  border-color: #ED5565;
  background-color: #ED5565;
}
.pb-container.error .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
